{% extends "base.html" %} 
​
{% block content %}
    <header>
        <h1>Build A Blog</h1>
    </header>

    {% if not new_blog %}
    {% if blogs|length == 0 %}
    <h3>No Posts Available</h3>
    {% else %}
        <h2>Available Blog Posts!</h2>
        <ul>
        {% for blog in blogs %}
        <li><a href='/main-blog?id={{blog.id}}'>{{blog.name}}</a>
        <br>{{blog.body}}</li>
        {% endfor %}
        </ul>
    {% endif %} {% endif %}
    {% if new_blog %}
    <h2>{{new_blog.name}}</h2>
    <p>{{new_blog.body}}</p>
    {% endif %}

{% endblock %}